<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to 99 Cats, <%= @user.username %></h1>
<p>
    To login to the site, just follow the link: <%= @url %>
</p>
<p>Make a cat. Rent a cat.</p>
</body>